body {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}




div {
  background-image: url("avocado.jpg");
  background-repeat: repeat-y;
  overflow: scroll;
  width : 55%;
  height : 320px;
  background-color: white;
}
p {
  font-size: 120%;
  font-weight: 100;

}
.satu {
  text-align: right;
  color: blue;
}
.dua {
  text-align: left;
  color: green;
}
.tiga {
  color: red;
}
